GRIDSHIFT_DATA_DIR=data
GRIDSHIFT_SMARD_BASE_URL=https://www.smard.de/app/chart_data
GRIDSHIFT_DWD_CDC_BASE_URL=https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/hourly
GRIDSHIFT_DWD_MOSMIX_BASE_URL=https://opendata.dwd.de/weather/local_forecasts/mos/MOSMIX_L/single_stations
GRIDSHIFT_HTTP_TIMEOUT_SECONDS=60
GRIDSHIFT_RANDOM_SEED=42


